* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 90%;
    margin-top: 20px;
    height: 100vh;
    margin-left: 70px;
}

.div-header {
    display: flex;
}

.drop {
    margin-top: 70px;
}

.logo {
    width: 22px;
    height: 20px;
}

.text {
    width: 130px;
    height: 32px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    display: inline-block;
    font-size: 20px;
    line-height: 23px;
}

h1 {
    width: 80%;
    height: 190px;
    font-family: "Roboto Slab", serif;
    font-weight: 700;
    font-size: 80px;
    line-height: 81.11px;
}

.paragraph {
    width: 60%;
    height: 62px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    line-height: 30px;
}

.container1 {
    display: flex;
    justify-content: space-between;
}

.image {
    width: 304px;
    height: 356px;
}

.div-rectangle {
    display: flex;
    justify-content: center;
}

.rectangle {
    width: 480px;
    height: 200px;
    border-radius: 5px;
    background-color: #1E4681;
}

.rectangle #text {
    width: 80%;
    height: 113px;
    font-family: "Roboto Slab", serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 32.5px;
    color: #FFFFFF;
    padding: 15px;
}

.rectangle #author {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    margin-top: 55px;
    width: 95%;
    height: 45.64px;
    font-size: 20px;
    line-height: 1px;
    text-align: right;
    color: #FFFFFF;
}

@media screen and (min-width: 992px) and (max-width:1279px) {

    h1 {
        width: 400px;
        height: 110.04px;
        font-size: 46px;
        line-height: 46.64px;
    }

    .paragraph {
        width: 80%;
        height: 36px;
        font-size: 12px;
        line-height: 18px;
    }

    .image {
        width: 176.07px;
        height: 206.18px;
    }

    .rectangle {
        width: 300px;
        height: 125px;
        border-radius: 2.9px;
    }

    .rectangle #text {
        width: 249px;
        height: 50px;
        font-size: 14px;
        line-height: 18px;
        padding-bottom: 0;
        margin-top: 0;
    }

    .rectangle #author {
        font-size: 12px;
        line-height: 15.6px;
        margin-right: 20px;
    }
}

@media screen and (min-width:320px) and (max-width:991px) {
    .div-header {
        width: 100%;
        margin-top: 30px;
        margin-bottom: 0;

    }

    .logo {
        width: 15px;
        height: 15px;
    }

    .text {
        width: 120px;
        height: 18.53px;
        font-size: 18px;
        line-height: 13.8px;
        margin-left: 10px;
    }

    .drop {
        display: flex;
    }

    h1 {
        width: 292.63px;
        height: 88.53px;
        font-size: 37px;
        line-height: 37.51px;
        margin-top: 20px;
    }

    .paragraph {
        width: 250px;
        height: 28.96px;
        font-size: 12px;
        line-height: 15px;
    }

    .item2 {
        display: flex;
        justify-content: flex-end;
    }

    .image {
        width: 141.66px;
        height: 165.89px;
    }

    .rectangle {
        width: 225.36px;
        height: 93.19px;
        border-radius: 2.33px;
    }

    .rectangle #text {
        width: 200.64px;
        height: 52.65px;
        font-size: 11px;
        line-height: 14.3px;
    }

    .rectangle #author {
        width: 100%;
        margin-top: 25px;
        padding-right: 10px;
        font-size: 11px;
        line-height: 13px;
    }
}